<a href="/accounts/logout/">logout</a>
<a href="/add_picture">add picture</a>
<h1>pictures list</h1>
<ul>
{% for picture in pictures_list%}
    <li><p>
        {{ picture.name }}
        {% if 200px_thumbnail %}
            <a>kasztan</a>
            {%endif%}
        {% if 400px_thumbnail %}
            <a>kasztan</a>
            {%endif%}
        {% if Originally_uploaded_picture %}
            <a>kasztan</a>
            {%endif%}
        {% if arbitrary_thumbnail_sizes %}
            <a>kasztan</a>
            {%endif%}
        {% if Generate_expiring_links %}
            <a>kasztan</a>
            {%endif%}
        </p>
    </li>
{% endfor %}
</ul>
